.image-container_home {
  height: calc(100% - 3.4rem);
}
.image-cover_home {
  background: radial-gradient( rgba(30, 30, 30, 0), rgba(30, 30, 30, 1));

}

/* Heading */
.home-heading_wrapper {
  width: 10rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.home-heading {
  width: 5rem;
  line-height: 2rem;
  text-align: center;
  position: absolute;
  right: calc(50% - 2.5rem);
  margin: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
#home-heading_1 {
  top:  calc(50% - 3rem);
  animation: slideInFromTop ease 1s;
}
#home-heading_2 {
  top: calc(50% - 1rem);
  animation: fadeInAnimation2 ease 4s
}
#home-heading_3 {
  top:  calc(50% + 1rem);
  animation: slideInFromBottom ease 1.7s;
}

/* IMAGE SLIDER */
.image-slider-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
}
.image-box_home {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition-duration: 2s;
}
#image_1 {
  background-image: url('../../assets/images/image_1.png');
}
#image_2 {
  background-image: url('../../assets/images/image_2.jpg');
}
#image_3 {
  background-image: url('../../assets/images/distillery.jpg');
}
.image_show {
  opacity: 1;
  transition-duration: 2s;
}

/* IMAGE SLIDER NAVIGATION */
.image_navi_container {
  width: 100%;
  height: 3.4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.image_navi {
  width: .6rem;
  height: .6rem;
  background-color: rgba(235, 232, 232, .3);
  border-radius: 50%;
  margin: 1rem .5rem;
}
.image_navi:hover {
  cursor: pointer;
  background-color: rgba(235, 232, 232, .6);
  transition-duration: .3;
}
.select_image {
  background-color: rgba(235, 232, 232, .8);
}

/* Mobile */
@media only screen and (max-width:720px) {
  .image-container_home {
    height: calc(100% - 2rem);
  }
  .image_navi_container {
    height: 2rem;
  }
  .image_navi {
    margin-bottom: 0rem;
  }
  .image-cover_home {
    font-size: 1rem;
    line-height: 1;
  }
}

/* ANIMATION */
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
@keyframes fadeInAnimation2 {
  0% {
      opacity: 0;
  }
  15% {
    opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
@keyframes fadeInAnimation3 {
  0% {
      opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: calc(50% - 3rem);
    opacity: 1;
  }
}
@keyframes slideInFromBottom {
  0% {
    top: 100vh;
    opacity: 0;
  }
  100% {
    top:  calc(50% + 1rem);
    opacity: 1;
  }
}