.image-container_products {
  overflow-y: scroll;
  height: 80%;
}

.image-cover_products {
  text-align: right;
  background: linear-gradient( rgba(30, 30, 30, 1), rgba(30, 30, 30, .7));
}
.image-container_garage {
  background-image: url("../../assets/images/garage.jpg");
}

/* TABLE */
.copy-container_products {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.products-copy {
  width: fit-content;
  display: block;
  margin: 0 1.2rem 0 auto;
  line-height: 1.4;
  color: rgba(255, 255, 255, 1);
}
#products-copy_1 {
  font-size: 2rem;
  margin-top: 1rem;
  animation: fadeInAnimation ease 3s;
}
#products-copy_2 {
  margin-top: 1rem;
  font-size: 1.2rem;
  animation: fadeInAnimation2 ease 3s;
}

.product-detail-cotainer {
  width: 80%;
  margin: 5rem auto;
  z-index: 5;
  text-align: center;
}
.product-detail-box {
  width: 100%;
  color: rgba(255, 255, 255, 1);
}
.product-category_box {
  text-align: center;
}
.product-category_box:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, .8);
}
.product-category {
  width: 100%;
  padding: 3px 0;
  margin: 2rem 0 0 0;
  font-size: 1.4rem;
  line-height: 0.9;
  font-weight: bold;
  z-index: 2;
}
.table-control-container {
  width: 28px;
  height: 28px;
  margin: 0 auto;
  position: relative;
  transition-duration: .3s;
}
.table-control-container_open {
  width: 90%;
}
.table-controle-line {
  width: 50%;
  height: 1.6px;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 50%;
  margin: 0;
  transition-duration: .3s;
}
.table-controle-line_left {
  right: calc(50% - 2.2px);
  transform:rotate(45deg);
}
.table-controle-line_right {
  left: calc(50% - 2.2px);
  transform:rotate(-45deg);
}
.table-controle-line_left_open {
  transform: unset;
  width: 50%;
}
.table-controle-line_right_open {
  transform: unset;
  width: 50%;
}

/* table */
.product-type-wrapper {
  width: 90%;
  table-layout: fixed;
  padding: 0;
  margin: 0 auto 1rem auto;
  display: none;
  transition-duration: .3s;
}
.product-type-wrapper_open {
  display: table;
}
.product-table_tr {
  width: 100%;
}
.product-table_tr_sp {
  display: none;
}
.product-table_cell {
  width: 20%;
  height: 1.2rem;
}
.product-table_cell_header {
  height: 2.4rem;
  vertical-align: text-top;
}
.product-table_cell_header_lg p {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}
.product-table_cell_type {
  width: 30%;
  text-align: right;
  height: unset;

}
.product-table_cell_type h4 {
  display: block;
  margin: 6px 3px 6px auto;
}
.product-table_cell_type_en {
  font-weight: 400;
  font-size: .9rem;
  line-height: 1.2;
}
.product-table_cell_type_jp, .product-table_cell_type_cn {
  text-align: right;
  font-size: .8rem;
  font-weight: 300;
}
.product-table_cell_header p {
  font-weight: 400;
  font-size: .7rem;
  line-height: 1;
  margin: 0;
  text-wrap: nowrap;
}
.product-table_span {
  display: inline-block;
  font-weight: 300;
  font-size: .6rem;
  line-height: 1;
  margin-top: 2px;
}

/* Tablet*/
@media only screen and (max-width:890px) {
  #products-copy_1 {
    font-size: 2rem;
  }
  #products-copy_2 {
    font-size: 1.2rem;
  }
  .product-category {
    font-size: 1.2rem;
  }
}

/* Mobile */
@media only screen and (max-width:620px) {
  .main_products {
    min-height: 480px;
  }
  .image-container_products {
    min-height: 480px;
  }
  .copy-container_products {
    margin-top: 5rem;
  }
  .products-copy {
    width: 100%;
    line-height: 1;
  }
  #products-copy_1 {
    font-size: 1.4rem;
    margin-top: -2rem;
  }
  #products-copy_2 {
    font-size: 1rem;
    animation: fadeInAnimation2 ease 6s;
  }
  .product-detail-cotainer {
    width: 100%;
  }
  .product-category {
    font-size: 1.1rem;
  }
  .product-type-wrapper {
    table-layout: fixed;
    border-collapse: collapse;
  }
  .product-table_cell {
    font-size: .8rem;
  }
  .product-table_cell_sm {
    width: 12%;
  }
  .product-table_cell_header h4 {
    font-size: .7rem;
  }
  .product-table_cell_type_jp h4 {
    font-size: .65rem;
    font-weight: 400;
    text-wrap: wrap;
  }
  .product-table_cell_header p, .product-table_cell_header span {
    font-size: .6rem;
    text-wrap: nowrap;
  }
  .product-table_cell_header_lg p {
    letter-spacing: -0.07rem;
  }
}

@keyframes slideInFromRight {
  0% {
    right: calc(-(100% + var(--products-table-width)/2));
    left: 100%;
    opacity: .1;
  }
  100% {
    right: calc(-(90% + var(--products-table-width)/2));
    left: 10%;
    opacity: 1;
  }
}