
.main_products {
  min-height: 700px;
}
.image-container_products {
  min-height: 700px;
  margin-top: 5rem;
  top: 3rem;
  position: relative;
}
.image-cover_products {
  background: radial-gradient( rgba(30, 30, 30, .5), rgba(30, 30, 30, 1));
  text-align: right;
}
.products-copy {
  margin: 0 1rem 1.2rem auto;
  line-height: 1.6;
  color: rgba(255, 255, 255, 1);
}
#products-copy_1 {
  font-size: 3.2rem;
  margin: 1rem 2rem 0 0;
  animation: fadeInAnimation ease 6s;
}
#products-copy_1 span {
  font-size: 3.5rem;
  margin-right: 4rem;
}
#products-copy_2 {
  font-size: 2.4rem;
  animation: fadeInAnimation2 ease 6s;
}
.image-container_garage {
  background-image: url("../../assets/images/garage.jpg");
}

/* TABLE */
.table-container {
  border: 1px solid rgba(255, 255, 255, .4);
  overflow-x: scroll;
  position: absolute;
  bottom: 3%;
  z-index: 5;
  width: var(--products-table-width);
  max-width: 880px;
  height: 280px;
  animation: slideInFromRight ease .6s;
}
.table-container::-webkit-scrollbar {
  height: 5px;
  background-color: rgba(255, 255, 255, .4);
}
.table-container::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  --bg-opacity: 1;
  background-color: #fff;
}
.table_products {
  background-color: rgba(255, 255, 255, .4);
  white-space: nowrap;
  width: 100%;
  font-size: 1rem;
  line-height: 1.4;
  height: 100%;
  text-align: center;
}
.table_products th {
  font-weight: lighter;
  background-color: rgba(30, 30, 30, .6);
  min-width: 5rem;
  padding: 3px;
}
.table_products td {
  background-color: rgba(30, 30, 30, .9);
  padding: 1px 2px;
}
.product-table_jp th {
  font-size: .8rem;
}
.product-table_td_jp {
  font-size: .8rem;
}

/* Tablet*/
@media only screen and (max-width:890px) {
  #products-copy_1 {
    font-size: 2.4rem;
    margin: 0;
  }
  #products-copy_1 span {
    font-size: 2.6rem;
    margin-right: 2rem;
  }
  #products-copy_2 {
    font-size: 2rem;
  }
  .table-container {
    height: 280px;
  }
  .table_products {
    height: 100%;
  }
}

/* Mobile */
@media only screen and (max-width:620px) {
  .products-copy {
    width: 100%;
    margin: 0 .7rem 1rem auto;
    line-height: 1.2;
  }
  #products-copy_1 {
    font-size: 1.8rem;
    margin-top: -2rem;
  }
  #products-copy_1 span {
    font-size: 2rem;
    margin-right: 3rem;
  }
  #products-copy_2 {
    font-size: 1.6rem;
    animation: fadeInAnimation2 ease 6s;
  }
  .table-container {
    min-width: 300px;
    max-width: 600px;
    height: 300px;
  }
  .table_products {
    width: 50%;
    font-size: 1.2rem;
    line-height: 1;
    height: 100%;
  }
  .product-table_jp th {
    font-size: .8rem;
  }
  .product-table_td_jp {
    font-size: .8rem;
  }
}

@keyframes slideInFromRight {
  0% {
    right: calc(-(100% + var(--products-table-width)/2));
    left: 100%;
    opacity: .1;
  }
  100% {
    right: calc(-(90% + var(--products-table-width)/2));
    left: 10%;
    opacity: 1;
  }
}

/* Tablet */
@media only screen and (max-width:890px) {
}

/* Mobile */
@media only screen and (max-width:620px) {
  .main_products {
    min-height: 480px;
  }
  .image-container_products {
    min-height: 480px;
  }
  .table_products {
    font-size: 1rem;
  }
}