.image-container_products {
  overflow-y: scroll;
  height: 80%;
}

.image-cover_products {
  text-align: right;
  background: linear-gradient( rgba(30, 30, 30, 1), rgba(30, 30, 30, .7));
}
.image-container_garage {
  background-image: url("../../assets/images/garage.jpg");
}

/* TABLE */
.copy-container_products {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.products-copy {
  width: fit-content;
  display: block;
  margin: 0 1.2rem 0 auto;
  line-height: 1.4;
  color: rgba(255, 255, 255, 1);
}
#products-copy_1 {
  font-size: 2rem;
  margin-top: 1rem;
  animation: fadeInAnimation ease 3s;
}
#products-copy_2 {
  margin-top: 1rem;
  font-size: 1.2rem;
  animation: fadeInAnimation2 ease 3s;
}

.product-detail-cotainer {
  width: 80%;
  margin: 5rem auto;
  z-index: 5;
  text-align: center;
}
.product-detail-box {
  width: 100%;
}
.product-category_box {
  text-align: center;
}

.product-category_box:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, .8);
}
.product-category {
  width: 100%;
  padding: 3px 0;
  margin: 2rem 0 0 0;
  font-size: 1.4rem;
  line-height: 0.9;
  font-weight: bold;
  z-index: 2;
}

.table-control-container {
  width: 28px;
  height: 28px;
  margin: 0 auto;
  position: relative;
  transition-duration: .3s;
}
.table-control-container_open {
  width: 90%;
}
.table-controle-line {
  width: 50%;
  height: 1.6px;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 50%;
  margin: 0;
  transition-duration: .3s;
}
.table-controle-line_left {
  right: calc(50% - 2.2px);
  transform:rotate(45deg);
}
.table-controle-line_right {
  left: calc(50% - 2.2px);
  transform:rotate(-45deg);
}
.table-controle-line_left_open {
  transform: unset;
  width: 50%;
}
.table-controle-line_right_open {
  transform: unset;
  width: 50%;
}

.product-type-wrapper {
  height: 0;
  max-width: 30rem;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto 1rem auto;
  opacity: 0;
  transition-duration: .3s;
}
.product-type-wrapper_open {
  height: fit-content;
  opacity: 1;
}
.product-type-box {
  margin-top: -10rem;
  padding: 0;
  transition-duration: .3s;
  z-index: 0;
  display: none;
}
.product-type-box_open {
  margin-top: 0;
  display: unset;
}

.product-title-contaienr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.8rem;
}
.product-title-contaienr_open {
  height: fit-content;
}
.product-title {
  font-size: .9rem;
  font-weight: 500;
  width: 100%;
}

.product-table {
  font-size: .8rem;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  display: block;
}
.table-container {
  border: 1px solid rgba(255, 255, 255, .4);
  overflow-x: scroll;
  position: absolute;
  bottom: 3%;
  z-index: 5;
  width: var(--products-table-width);
  max-width: 880px;
  height: 280px;
  animation: slideInFromRight ease .6s;
}
.table-container::-webkit-scrollbar {
  height: 5px;
  background-color: rgba(255, 255, 255, .4);
}
.table-container::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  --bg-opacity: 1;
  background-color: #fff;
}
.table_products {
  background-color: rgba(255, 255, 255, .4);
  white-space: nowrap;
  width: 100%;
  font-size: 1rem;
  line-height: 1.4;
  height: 100%;
  text-align: center;
}
.table_products th {
  font-weight: lighter;
  background-color: rgba(30, 30, 30, .6);
  min-width: 5rem;
  padding: 3px;
}
.table_products td {
  background-color: rgba(30, 30, 30, .9);
  padding: 1px 2px;
}
.product-table_jp th {
  font-size: .8rem;
}
.product-table_td_jp {
  font-size: .8rem;
}

/* Tablet*/
@media only screen and (max-width:890px) {
  #products-copy_1 {
    font-size: 2rem;
  }
  #products-copy_2 {
    font-size: 1.2rem;
  }
  .table-container {
    height: 280px;
  }
  .table_products {
    height: 100%;
  }
}

/* Mobile */
@media only screen and (max-width:620px) {
  .copy-container_products {
    margin-top: 5rem;
  }
  .products-copy {
    width: 100%;
    line-height: 1;
  }
  #products-copy_1 {
    font-size: 1.4rem;
    margin-top: -2rem;
  }
  #products-copy_2 {
    font-size: 1rem;
    animation: fadeInAnimation2 ease 6s;
  }
  .table-container {
    min-width: 300px;
    max-width: 600px;
    height: 300px;
  }
  .table_products {
    width: 50%;
    font-size: 1.2rem;
    line-height: 1;
    height: 100%;
  }
  .product-table_jp th {
    font-size: .8rem;
  }
  .product-table_td_jp {
    font-size: .8rem;
  }
}

@keyframes slideInFromRight {
  0% {
    right: calc(-(100% + var(--products-table-width)/2));
    left: 100%;
    opacity: .1;
  }
  100% {
    right: calc(-(90% + var(--products-table-width)/2));
    left: 10%;
    opacity: 1;
  }
}

/* Tablet */
@media only screen and (max-width:890px) {
  .product-category {
    font-size: 1.2rem;
  }
}

/* Mobile */
@media only screen and (max-width:620px) {
  .main_products {
    min-height: 480px;
  }
  .product-detail-cotainer {
    width: 100%;
  }
  .image-container_products {
    min-height: 480px;
  }
  .table_products {
    font-size: 1rem;
  }
  .product-category {
    font-size: 1.1rem;
  }
  .product-title {
    font-size: .8rem;
    font-weight: 400;
    margin: 3px auto;
  }
  .product-table {
    margin: -10px auto 20px auto;
  }
  .product-table-element {
    line-height: 1;
  }
}