.image-box_supports {
  background-image: url("../../assets/images/image_1.png");
}
.copy-container_supports {
  font-style:normal;
  font-weight: lighter;
  text-align: left;
  height: 100%;
}
.copy-container_supports h2 {
  font-size: 1.6rem;
  line-height: 1;
}
.copy-container_supports li {
  font-size: 1.4rem;
  line-height: 1.5;
  margin-left: 1rem;
}