@import url('./styles/normalize.css');
@import url('./styles/pages/home.css');

@font-face {
  font-family: 'satoshi-reg';
  src: url('./assets/fonts/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.ttf');
}
@font-face {
  font-family: 'abri-fatface';
  src: url('./assets/fonts/AbrilFatface-Regular.ttf');
}

:root {
  font-size: 18px;
  font-family: satoshi-reg,'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  background-color: #1E1E1E;
  color: #fff;
}
a {
  color: #fff;
  text-decoration: none;
}

/* Navbar */
.navbar {
  width: 35vw;
  max-width: 650px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* LOGO */
.logo {
  width: 10rem;
  height: 10rem;
  background-image: url('./assets/images/logo_b.PNG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 2rem;
  left: 3rem;
}
.logo:hover {
  cursor: pointer;
}
/* MENU */
.nav_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 8rem;
}
.nav_link {
  width: 100%;
  display: flex;
  align-items: center;
}
.nav_current {
  background-color: #fff;
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  margin-right: .5rem;
}
