@import url('./styles/normalize.css');
@font-face {
  font-family: Noto Sans JP;
  src: url('../src/assets/fonts/Noto_Sans_JP/NotoSansJP-VariableFont_wght.ttf');
}
@font-face {
  font-family: Quintessential;
  src: url('../src/assets/fonts/Quintessential/Quintessential-Regular.ttf');
}

:root {
  font-size: 18px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: lighter;
  background-color: #1E1E1E;
  color: #fff;
  --products-table-width: 96%;
}
a {
  color: #fff;
  text-decoration: none;
}
li {
  list-style-type: none;
}
.li_bullet {
  list-style-type: disc;
}
.style-font {
  font-family: 'Cormorant Garamond', serif;
}
.style-font_jp {
  font-family: 'Shippori Mincho', serif;
}
.style-font_cn {
  font-family: 'Noto Serif SC', serif;
}

/* NAVBAR */
.navbar {
  width: 24vw;
  min-width: 244px;
  max-width: 650px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Logo */
.logo {
  width: 10rem;
  height: 8rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 2rem;
  left: 3rem;
}
.logo:hover {
  cursor: pointer;
}
.logo_bt {
  background-image: url('./assets/images/logo/logo_bt.png');
}

/* MENU */
.nav_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 8rem;
}
.nav_link {
  width: 100%;
  display: flex;
  align-items: center;
}
.nav_link:hover {
  opacity: .9;
}
.nav_current {
  background-color: #fff;
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  margin-right: .5rem;
}

/* HAMBURGER MENU */
.hamburger-container {
  display: none;
  margin: .5rem .6rem;
  z-index: 5;
}
.hamburger-box {
  width: 1.2rem;
  height: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hamburger_menu-open {
  position: relative;
}
.hamburger-line {
  width: 100%;
  height: .1rem;
  background-color: #fff;
  transition-duration: .6s;
}
.hamburger_menu-open .hamburger-line_top {
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 20%;
}
.hamburger_menu-open .hamburger-line_middle {
  opacity: 0;
}
.hamburger_menu-open .hamburger-line_bottom {
  transform: rotate(-45deg);
  position: absolute;
  top: 50%;
  right: 20%;
}

/* MOBILE MENU */
.menu-container {
  background-color: rgba(41, 38, 35, .9);
  display: none;
  width: 77vw;
  height: 100vh;
  position: fixed;
  top: 0vh;
  left: 100vw;
  z-index: 4;
  transition-duration: .6s;
}
.menu-container_open {
  left: 23vw;
}
.menu_link {
  margin: 1rem auto;
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.menu_link:nth-child(1) {
  margin-top: 4rem;
}
.menu_link:active {
  opacity: .8;
}

/* MAIN PART */
.main-container {
  width:  76vw;
  max-width: calc(100vw - 244px);
  height: 100vh;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
}

/* Language Bar */
.language-bar {
  width: 100%;
  height: 1rem;
  display: flex;
  justify-content: flex-end;
  z-index: 3;
  margin: .5rem 0 1rem 0;
}
.lang-btn {
  width: 1.2rem;
  height: 1rem;
  font-size: 0.8rem;
  text-align: center;
  border: 0.5px solid rgba(255, 255, 255, .7);
  margin: 2px;
}
.lang-btn:last-of-type {
  margin-right: 8px;
}
.lang-btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, .3);
}
.lang-btn_selected {
  color: rgba(255, 255, 255, .6);
}
/* Main Part */
.main {
  width: 100%;
  height: calc(100% - 4.5rem);
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* Main Container */
.image-container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}
.image-cover {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 1;
  position: absolute;
  top: 0;
  color: rgba(255, 255, 255, .7);
  line-height: 1;
}
.image-box {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  top: 0;
}
.copy-container {
  width: 100%;
}

/* FOOTER */
footer {
  width: 100vw;
  height: 2rem;
  text-align: center;
  font-size: .8rem;
  line-height: 1.8rem;
  color: rgb(150, 150, 150);
  position: fixed;
  bottom: 0;
  right: 0;
}

/* Tablet */
@media only screen and (max-width:890px) {
  .navbar {
    width: 30vw;
  }
  .main-container {
    width: 70vw;
  }
  .language-bar {
    right: 3rem;
  }
}

/* Mobile */
@media only screen and (max-width:620px) {
  /* NAV BAR */
  .navbar {
    width: 100vw;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .nav_box {
    display: none;
  }
  .logo {
    width: 7rem;
    height: 5rem;
    position: unset;
    z-index: 2;
    margin: .3rem 0 0 .5rem;
  }
  .hamburger-container {
    display: block;
  }

  /* MENU */
  .menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* MAIN */
  .main-container {
    width: 100vw;
    max-width: unset;
    height: calc(100vh - 5rem);
    overflow-x: hidden;
    overflow-y: hidden;
    top: 5rem;
    right: unset;
    z-index: 0;
  }
  .main {
    width: 100%;
    height: calc(100% - 2rem);
    min-height: 500px;
  }
  .image-container {
    width: 90%;
    height: 100%;
    margin-top: -2rem;
  }
  .copy-container {
    top: unset;
  }
  .language-bar {
    position: fixed;
    top: 0;
    width: fit-content;
  }

  footer {
    margin-bottom: 0;
  }
}

@import url('./styles/pages/home.css?20240209');
@import url('./styles/pages/products.css?20240209');
@import url('./styles/pages/supports.css?20240209');
@import url('./styles/pages/contact.css?20240209');
@import url('./styles/pages/info.css?20240209');
